include ../base/textbox.jade
include ../base/panelBlock.jade

mixin choiceRowEdit(doc, index, disabled)
  -var errors = doc.errors || {}
  -var i      = index      || '0'

  li.list-group-item.choice&attributes(attributes)=name
    div.row
      div.col-md-11
        +panelBlock('body_ja')(class='panel-info panel-mini')
          +textbox('text', doc.body_ja, errors.body_ja)(name="choices[#{i}][body_ja]", disabled=disabled)
      div.col-md-1
        if index !== 0 || disabled
          button.btn.btn-default.btn-compact.btn-danger.pull-right.choice-delete(type="button") Delete
    div.row
      div.col-md-8
        +panelBlock('body_en')(class='panel-success panel-mini')
          +textbox('text', doc.body_en, errors.body_en)(name="choices[#{i}][body_en]", disabled=disabled)
      div.col-md-2
        +panelBlock('point_max')(class='panel-primary panel-mini')
          +textbox('text', doc.point_max, errors.point_max)(name="choices[#{i}][point_max]", disabled=disabled)
      div.col-md-2
        +panelBlock('point_min')(class='panel-danger panel-mini')
          +textbox('text', doc.point_min, errors.point_min)(name="choices[#{i}][point_min]", disabled=disabled)
