include ../base/editButton.jade
include ../base/insertButton.jade
include ../base/panelBlock.jade
include choiceRow.jade

mixin row(doc)
  if !doc.isNew
    td
      +editButton(doc.editUrl)
    td(class=doc.active ? '' : 'text-danger')
      // --- body ---
      +panelBlock('body', 'collapse in')(class='panel-primary panel-mini panel-collapse')
        +panelBlock('body_ja')(class='panel-info panel-mini')
          | #{doc.body_ja}?
        +panelBlock('body_en')(class='panel-success panel-mini')
          | #{doc.body_en ? doc.body_en  + '?' : ''}

      // --- chices ---
      +panelBlock('choices', 'collapse')(class='panel-mini panel-collapse')
        if doc.choices.length
          ul.list-group
            each choice in doc.choices
              +choiceRow(choice)

      // --- categories ---
      +panelBlock('categories', 'collapse')(class='panel-warning panel-mini panel-collapse')
        each category in doc.categories
          span.category.alert.alert-info
            | #{category.name_ja} / #{category.name_en}

      // --- explanation ---
      +panelBlock('explanation', 'collapse')(class='panel-mini panel-collapse')
        +panelBlock('explanation_ja')(class='panel-info panel-mini')
          | #{doc.explanation_ja}
        +panelBlock('explanation_en')(class='panel-success panel-mini')
          | #{doc.explanation_en}
      
      // --- state ---
      +panelBlock('state', 'collapse' + (doc.active ? '' : ' in'))(class='panel-warning panel-mini panel-collapse')
        p(style="font-size: 150%")
          span(class="text-danger glyphicon glyphicon" + (doc.active ? '-heart' : '-remove'))
          |&nbsp;#{(doc.active ? '' : 'not')} active
  else
    td
      +insertButton(doc.insertUrl)
    td(colspan=3)
