include ../base/editButton.jade
include ../base/insertButton.jade
include ../base/panelBlock.jade
include choiceRow.jade

mixin row(doc)
  if !doc.isNew
    td
      +editButton(doc.editUrl)
    td
      // --- body ---
      +panelBlock('body')(class='panel-primary panel-mini')
        +panelBlock('body_ja')(class='panel-info panel-mini')
          | #{doc.body_ja}?
        +panelBlock('body_en')(class='panel-success panel-mini')
          | #{doc.body_en ? doc.body_en  + '?' : ''}

      // --- chices ---
      +panelBlock('choices')(class='panel-mini')
        if doc.choices.length
          ul.list-group
            each choice in doc.choices
              +choiceRow(choice)

      // --- categories ---
      +panelBlock('categories')(class='panel-warning panel-mini')
          each category in doc.categories
            span.category.alert.alert-info
              | #{category.name_ja} / #{category.name_en}

      // --- explanation ---
      +panelBlock('explanation')(class='panel-mini')
        +panelBlock('explanation_ja')(class='panel-info panel-mini')
          | #{doc.explanation_ja}
        +panelBlock('explanation_en')(class='panel-success panel-mini')
          | #{doc.explanation_en}
      
  else
    td
      +insertButton(doc.insertUrl)
    td(colspan=3)
