mixin btnBlock()
  button.btn.btn-default(type="button" style="width:6.9rem")&attributes(attributes)=name
    if block
      block

mixin editButtons(_id, cancelUrl, execUrl, deleteUrl, isNew)
  input(type="hidden" name="_id" value="#{_id}")
  // --- cancel button ---
  +btnBlock()(class="edit-btn" data-url="#{cancelUrl}" data-other_btns_disabled="false")
    | cancel
  // --- execute button ---
  +btnBlock()(class="exec-btn" data-url="#{execUrl}" data-other_btns_disabled="false" data-isnew="#{isNew}")
    | execute
  // --- delete button ---
  if !isNew
    +btnBlock()(class="delete-btn" data-url="#{deleteUrl}" data-other_btns_disabled="false" data-name="this item")
      | delete