mixin paginationForFewPages(pager)
  // --- previous page link ---
  if pager.previousPage
    li: a(href=pager.queryString(pager.previousPage))="‹"
  else
    li.disabled: span="‹" 
  // --- pages link ---
  - var n = 1
  while pager.pageExists(n)
    if pager.isCurrentPage(n)
      li.active: span=n
    else
      li: a(href=pager.queryString(n))=n
    - n++
  // --- next page link ---
  if pager.nextPage
    li: a(href=pager.queryString(pager.nextPage))="›"
  else
    li.disabled: span="›"

mixin paginationForManyPages(pager)
  // --- previous page link ---
  if pager.previousPage
    li: a(href=pager.queryString(1))="«"
    li: a(href=pager.queryString(pager.previousPage))="‹"
  else
    li.disabled: span="«"
    li.disabled: span="‹"
  // --- pages link ---
  li.disabled: span #{pager.currentPage} / #{pager.pageCount}
  // --- next page link ---
  if pager.nextPage
    li: a(href=pager.queryString(pager.nextPage))="›"
    li: a(href=pager.queryString(pager.pageCount))="»"
  else
    li.disabled: span="›"
    li.disabled: span="»"

mixin pagination(pager)
  div.page-header.no-margin
    h3.no-margin: small=pager.resultString
  if (pager.itemCount)
    div.text-right
      ul.pagination.top-bottom-margin5(style="font-size: 120%")
        if pager.pageCount < 15
          +paginationForFewPages(pager)
        else
          +paginationForManyPages(pager)
  else
    br
