mixin textbox(inputType, value, errMsg, cls)
  -var classes = 'form-control textbox ' + (cls || '')
  -var val     = value === 0 ? '0' : value || ''

  div(class="#{errMsg ? 'has-error' : ''}")
    if inputType !== 'textarea'
      input(type="#{inputType}" class="#{classes}" value="#{val}")&attributes(attributes)=name
    else
      textarea(class="#{classes}" name="#{name}")&attributes(attributes)=name
        | #{val}
    // error message
    if errMsg
      label.control-label=errMsg
